<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h2>To delete this user :<%=user.email%> , Enter the password </h2>
    <form action="/user/<%=user.id%>?_method=DELETE" method="post">
        <input placeholder="enter password" name="password">
        <button>DELETE</button>
    </form>
</body>
</html>