body{
    background-color:#BED1CF;
}
.table{
    background-color:#E78895;
}
.button{
    background-color: #FFF7F1;
    color:black;
    font-weight: bold;
}
.table_heading{
    background-color:#FFF7F1;
}